PORT=3001

DB_HOST=10.10.0.32
DB_PORT=5432
DB_USERNAME=adm
DB_PASSWORD=123456
DB_NAME=products_db
DB_SYNCHRONIZE=true

JWT_SECRET=super-secret-change-me
JWT_EXPIRES_IN=1d

REDIS_HOST=10.10.0.34
REDIS_PORT=6379
REDIS_PASSWORD=

BULL_BOARD_USER=admin
BULL_BOARD_PASSWORD=admin

OPENAI_API_KEY=
#GEMINI_API_KEY=sua_chave_aqui